.systems
    &__text
        color: grey
        text-align: justify
    &__list
        color: grey

@media (max-width: 575px)
    .systems
        &__text
            margin-bottom: 10px
            font-size: 14px
        &__list
            font-size: 14px